@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #191516;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}
.container p {
    color: #BEBEBE;
    font-family: 'Open Sans', sans-serif;
}

.container h2 {
    color: #FAC81A;
}

.card {
    background-color: #201D1E;
}

.card-title {
    color: #FAC81A;;
}