@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #191516;
}

a {
    text-decoration: none;
}

p {
    color: #BEBEBE;
    font-family: 'Open Sans', sans-serif;
}

.h1,h2,h3,h4,h5,h6 {
    color: #FAC81A !important;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-color: #201D1E;
}

.card-title {
    color: #FAC81A;;
}

footer {
    color: white;
    line-height: 5px;
}

.fa-brands {
    color: #FAC81A;
    font-size: 25px;
    margin: 10px;
}

.fa-brands:hover {
    transform: scale(1.25);
    transition: 0.5s;
}
.fa-facebook:hover {
    color: #1b76e6;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-youtube:hover {
    color: #e9140d;
}